:root {
    --primary-color: #171717;
    --secondary-color: #0c1631;
    --tertiary-color:#f28f3b;
    --font-color: #f4f4f4;
    --alternative-color: #d8dee9;
}

* {
    color: var(--font-color);
    margin: 0;
    padding: 0;
    font-family: Jost, sans-serif;
}

.header-container{
    display: flex;
    justify-content: space-between;
}

header, footer {
    background-color: var(--primary-color);
    padding: 10px;
}

main {
    background-color: var(--secondary-color);
    min-height: 150vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.open a {
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav a {
    display: none;
    text-decoration: none;
    padding: 1rem;
    font-size: 20px;
    transition: color 0.2s ease-in-out;
}

nav a:hover {
    color: var(--tertiary-color);
}

.movies {
    margin-top: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: 1fr 1fr;
    place-items: center;   
    }


#hero {
    width: 100%;
    height: auto;
    position: relative;
    filter: brightness(70%);
        
    }

.hero-text {
     position: relative;
     top: 35%;
     left: 50%;
     transform: translate(-50%, -300%);
     text-align: center;
     font-size: 12px;
 }
    
.poster {
    display: flex;
    height: 350px;
    height: 520px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.poster img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    transition: width, 0.4s;
}

.poster h3 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    text-align: center;
}

.poster h3:hover {
    color: var(--tertiary-color);
    cursor: pointer;
}

.movies-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.filters {
    display: flex;
    justify-content: center;
}

.filters button {
    background-color: var(--secondary-color);
    border: 1px solid white;
    padding: 10px;

}

.filters button:hover {
    background-color: var(--tertiary-color);
    color: var(--font-color);
    cursor: pointer;
}

#menu {
    display: block;
    border: 0;
    background: none;
    color: var(--font-color);
    font-size: 22px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖";
}


footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-container p {
    margin-left: 10px;
}