@media screen and (min-width: 750px) {

    
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        
    }
    
    nav {
        display: flex;
        flex-direction: row;
    }
    
    
    nav a {
        display: flex;
        flex-direction: row;
        
    }
    
    #hero {
        width: 100%;
        height: auto;
        position: relative;
        filter: brightness(70%);
        
    }
    
    .hero-text {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 16px;
    }
    
.poster {
    display: flex;
    height: 300px;
    height: 480px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
    
.movie-showtimes {
    display: grid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    grid-template-columns: 0.7fr 1fr;
    grid-template-rows: 0.4fr 0.6fr 1.5fr;
    gap: 0;

}
.movie-showtimes p {
    margin-left: 10px;
}
    #menu {
        display: none;
    }
    
.theater-selection select {
    font-size: 22px;
}
    
}